<!DOCTYPE html>
<html>
 <head>
  <title>CrimeScore</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script src="/lib/sprintf-0.7-beta1.js"></script>
  <script src="/lib/underscore-min.js"></script>

  <script>
   var accessToken = '<%= session.access_token %>';
  </script>

  <script src="/app.js"></script>

  <link rel="stylesheet" href="/styles.css" />
 </head>

 <body>
  <h1><a href="/">CrimeScore</a></h1>

  <p>Register with one or more of these services:</p>

<ul id="auth">
<% for (var i = 0; i < services.length; i++) { %>
 <li id="<%= services[i].name %>"><%- services[i].link %></li>
<% } %>
</ul>

<div id="empowered">
 <a href="http://singly.com/"><img src="/empowered.png" /></a>
</div>

<ul id="profiles"></ul>

<div>
  <button id="calc">Calculate CrimeScore</button>
 <h1 id="cs">
 </h1>
<h2 id="ci"></h2>
<p>CrimeScore represents the average number of crimes commited near your checkins, given by a sample number of crimes in a week, weighted by severity.</p>
</div>
 </body>
</html>


